.space {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: black;
}
.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
}
.Profile,
.Skills {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 20px;
  height: 100vh;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  height: 5rem;
  width: 100%;
  display: flex;
}
.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10%;
}
.back {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 200px;
  height: 3rem;
  width: 3rem;
}
.title {
  color: white;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  background-color: transparent;
}
.content {
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.btn {
  background-color: black;
  color: white;
  height: 2rem;
  width: 3rem;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 100px;
  margin-right: 5px;
}
.backbtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.details {
  height: 60vh;
  width: 80%;
  margin-top: 2.4rem;
  text-align: left;
}
.heading {
  color: white;
  font-size: 2rem;
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rocket {
  height: 7rem;
  width: 5%;
  display: flex;
  align-items: center;
  animation: moveright 20s ease-in-out infinite;
  background-color: transparent;
}
.rocket img {
  height: 8rem;
  rotate: 90deg;
  background-color: transparent;
}
.detail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.container {
  display: flex;
}
.pallet,
.skillsPallet {
  background-color: rgb(0, 0, 0);
  width: 70%;
  animation: slidein 2s ease-in-out forwards;
  height: 63vh;
  border: 5px solid white;
  padding: 5px;
}
.skillsPallet {
  height: 70vh;
}
.pic {
  background-color: rgb(0, 0, 0);
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height: 20rem;
}
.credentials {
  background-color: transparent;
  width: 50%;
  text-align: left;
}
.slideout {
  animation: slideout 2s ease-in-out forwards;
}
.input {
  background-color: transparent;
  width: 100%;
  color: white;
  margin-bottom: 20px;
}
.mainDiv {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  color: white;
  border: 1px solid white;
}
.achieved {
  width: 90%;
  height: 60%;
}
.pictures {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skill {
  margin: 2px 60px;
  background-color: transparent;
  height: 3.5rem;
  animation: glow 5s ease-in-out infinite;
}
.pending {
  width: 90%;
  height: 35%;
}
.greyscale {
  margin: 2px 60px;
  background-color: transparent;
  height: 3.5rem;
  filter: grayscale(100%);
}
@keyframes glow {
  from {
  }
  to {
    filter: drop-shadow(0px 0 4px white); /* Adjust shadow size and color */
  }
}
@keyframes slideout {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(-82rem);
  }
}
@keyframes slidein {
  from {
    transform: translateX(-90rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveright {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(86rem);
  }
  50% {
    transform: translateX(86rem) translateY(35rem) rotate(90deg);
  }
  75% {
    transform: translateX(0) translateY(35rem) rotate(180deg);
  }
  100% {
    transform: translateX(0) translateY(0rem);
  }
}
@keyframes popup {
  0%,
  10%,
  20% {
    height: 0%;
    width: 0%;
    opacity: 0;
  }
  100% {
    height: 90vh;
    width: 95%;
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .pallet {
    height: 100vh !important;
  }
  .input {
    font-size: 16px !important;
  }
  .skillsPallet {
    width: 100% !important;
  }
  .achieved {
    height: 80% !important;
    margin-bottom: 20px;
  }
  .skills,
  .greyscale {
    height: 1.5rem !important;
  }
  .pictures {
    justify-content: space-around;
  }
}
@media (min-width: 301px) and (max-width: 380px) {
  .hide {
    display: none;
  }
  .image {
    height: 30vh !important;
  }
  .pallet {
    height: 94vh !important;
  }
  .credentials {
    font-size: 10px;
    width: 100%;
  }
  .achieved {
    height: 75%;
    margin-bottom: 20px;
  }
  .skillsPallet {
    width: 90% !important;
  }
  .skill,
  .greyscale {
    height: 2.5rem !important;
  }
}
@media (min-width: 380px) and (max-width: 415px) {
  .hide {
    display: none;
  }
  .skill {
    height: 3rem !important;
  }
  .pictures {
    height: 70% !important;
  }
  .pending {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .hide {
    display: none;
  }
  .skillsPallet {
    width: 90% !important;
  }
  .skill,
  .greyscale {
    /* height: 2.5rem !important; */
    margin: 5px 10px !important;
  }
}
@media (max-width: 768px) {
  .heading {
    margin-bottom: 5px;
  }
  .pic {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 1;
    margin-bottom: 20px;
  }
  .image {
    height: 35vh;
  }
  .pallet {
    width: 100%;
    height: 85vh;
    flex-direction: column;
  }
  .credentials {
    order: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  .backbtn {
    justify-content: center;
  }
  @keyframes moveright {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50rem);
    }
  }
  @keyframes slideout {
    from {
      transform: translateX(0rem);
    }
    to {
      transform: translateX(-50rem);
    }
  }
  @keyframes slidein {
    from {
      transform: translateX(-50rem);
    }
    to {
      transform: translateX(0);
    }
  }
  .contents {
    width: 80%;
    justify-content: center;
  }
  .achieved {
    height: 70%;
  }
  .pictures {
    justify-content: center;
  }
  .pending {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .skill {
    height: 3rem;
  }
}
@media (min-width: 819px) and (max-width: 1024px) {
  .pic {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 1;
    margin-bottom: 20px;
  }
  .image {
    height: 35vh;
  }
  .pallet {
    width: 100%;
    height: 85vh;
    flex-direction: column;
  }
  .credentials {
    order: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  .backbtn {
    justify-content: center;
  }
  .input {
    width: 100%;
    font-size: 25px;
  }
  .title {
    font-size: 40px;
  }
  .contents {
    width: 60%;
    margin-bottom: 10px;
  }
  .pictures {
    justify-content: center;
  }
  .pending {
    margin-bottom: 20px;
  }
  .skill {
    height: 2.5rem;
  }
}
@media (min-width: 1280px) and (min-height: 800px) {
  .pallet {
    height: 57vh;
  }
  .achieved {
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) and (min-height: 900px) {
  .pallet {
    height: 50vh;
  }
  .skillsPallet {
    height: 55vh;
  }
}
