.main {
  background-color: black;
  width: 100%;
  height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.newDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation: slideDown 3s ease-in-out;
}
.welcome {
  color: white;
  font-family: "Times New Roman", Times, serif;
  animation: bigger 1s ease-in-out;
  font-size: 4rem;
}
.home {
  background-color: black;
  height: 20rem;
  width: 100%;
  margin: 1rem;
  animation: slideIn 6s ease-in-out;
}
@media screen and (max-width: 768px) {
  .welcome {
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .welcome {
    font-size: 4rem;
  }
}

@keyframes bigger {
  0% {
    font-size: 2rem;
    opacity: 0;
  }
  100% {
    font-size: 4rem;
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translate(-200%);
  }
  to {
    transform: translate(0%);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
