.main {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome {
  color: white;
  font-size: 8rem;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  left: -200%; /* Start off-screen on the left */
  transition: left 2s ease-in-out, font-size 1s ease-in-out; /* Smooth transition for left property */
}

.show-welcome {
  left: 0; /* Move to the center of the screen */
}
@media screen and (max-width: 600px) {
  .welcome {
    font-size: 5rem; /* Adjust font size for smaller screens */
  }

  .show-welcome {
    font-size: 3rem; /* Adjust font size for smaller screens when in the center position */
  }
}

@media screen and (max-width: 400px) {
  .welcome {
    font-size: 3rem; /* Adjust font size for even smaller screens */
  }

  .show-welcome {
    font-size: 2rem; /* Adjust font size for even smaller screens when in the center position */
  }
}
